.input-group {
  position: relative;
  width: 300px;
  height: 50px;
  .input-submit-btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 7px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    @include input-submit-btn;
    &.submitted {
      @include input-submit-btn-submitted;
    }
    &:focus {
      box-shadow: 0 0 5px #4d90fe;
      outline: none;
    }
  }
}

.input {
  width: 100%;
  height: 50px;
  padding: 20px 52px 15px 22px;
  border: solid 1px $grey;
  color: $grey;
  font-family: $font-medium;
  font-size: $ftz-normal;
  border-radius: $border-r-25;
  text-indent: 30px;
  background-repeat: no-repeat;
  background-position: 20px center;

  &[name='role'],
  &[name='country'] {
    @include search;
  }
  &[name='tweet-url'] {
    @include tweet-url;
  }
  &[name='email'] {
    @include email;
  }
  &:not(:placeholder-shown) {
    border: solid 1px $black-4;
    color: $black-4;
    &[name='role'],
    &[name='country'] {
      @include search-black;
    }
    &[name='tweet-url'] {
      @include tweet-url-black;
    }
    &[name='email'] {
      @include email-black;
    }
    & + .input-submit-btn {
      display: block;
    }
  }

  &:placeholder-shown {
    border: solid 1px $grey;
  }
  &:focus {
    border: solid 1px #4d90fe;
    outline: none;
  }
}
