.tweet {
  width: 340px;
  border: solid 1px rgba(230, 229, 242, 0.7);
  border-radius: 20px;
  box-shadow: 0 14px 23px 4px rgba(0, 0, 0, 0.03);
  background-color: $white;
  margin-bottom: 40px;
  .tweet-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 22px 0 22px;
    .user-info {
      display: flex;
      align-items: center;
      .avatar {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        object-fit: cover;
      }
      .title-username {
        margin-left: 10px;
        .title {
          color: #1c2022;
          font-family: $font-bold;
          font-size: $ftz-normal;
          line-height: 1;
        }
        .username {
          color: #697882;
          font-family: $font-regular;
          font-size: $ftz-small;
          line-height: 1;
        }
      }
    }
    .tweet-actions {
      display: flex;
      span {
        display: inline-block;
        width: 17px;
        height: 17px;
        cursor: pointer;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .pin {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23C0CCDA' d='M16.004 0a1 1 0 00-.864.502h-.002l-4.374 6.392 5.344 5.344 6.427-4.397.002-.002a1 1 0 00.166-1.554L16.734.318l-.003-.004A1 1 0 0016.004 0zM6.12 7.995a5.79 5.79 0 00-4.107 1.7l4.939 4.94L.307 21.28a1 1 0 101.413 1.413l6.645-6.645 4.94 4.939a5.806 5.806 0 000-8.212l-3.08-3.08a5.785 5.785 0 00-4.105-1.7z'/%3E%3C/svg%3E");
        &.active {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%2304087f' d='M16.004 0a1 1 0 00-.864.502h-.002l-4.374 6.392 5.344 5.344 6.427-4.397.002-.002a1 1 0 00.166-1.554L16.734.318l-.003-.004A1 1 0 0016.004 0zM6.12 7.995a5.79 5.79 0 00-4.107 1.7l4.939 4.94L.307 21.28a1 1 0 101.413 1.413l6.645-6.645 4.94 4.939a5.806 5.806 0 000-8.212l-3.08-3.08a5.785 5.785 0 00-4.105-1.7z'/%3E%3C/svg%3E");
        }
      }
      .twitter {
        margin-left: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' viewBox='0 0 17 14'%3E%3Cpath fill='%231DA1F2' fill-rule='evenodd' d='M17 1.663a7.357 7.357 0 01-1.747 1.826 10.166 10.166 0 01-.4 3.298c-.273.944-.688 1.85-1.245 2.718a10.64 10.64 0 01-1.99 2.302c-.77.667-1.698 1.2-2.784 1.597A10.059 10.059 0 015.35 14 9.578 9.578 0 010 12.414c.252.03.532.044.841.044a6.76 6.76 0 004.326-1.51 3.367 3.367 0 01-2.028-.705 3.455 3.455 0 01-1.23-1.745c.238.037.457.055.658.055.31 0 .615-.04.917-.12a3.42 3.42 0 01-2-1.22A3.442 3.442 0 01.69 4.966v-.044a3.42 3.42 0 001.575.448 3.511 3.511 0 01-1.132-1.258 3.48 3.48 0 01-.421-1.684c0-.642.158-1.236.475-1.783a9.905 9.905 0 003.176 2.609 9.604 9.604 0 004.008 1.088 3.977 3.977 0 01-.087-.81c0-.976.34-1.81 1.02-2.498A3.335 3.335 0 0111.768 0c1.007 0 1.856.372 2.546 1.116a6.775 6.775 0 002.211-.853 3.422 3.422 0 01-1.531 1.946A6.867 6.867 0 0017 1.663z'/%3E%3C/svg%3E");
      }
    }
  }
  .tweet-text {
    padding: 0 22px;
    margin: 25px 0 20px;
    font-family: $font-regular;
    font-size: $ftz-normal;
    line-height: 1.3;
    p {
      color: #1c2022;
    }
    a {
      color: #1a95e0;
    }
  }
  .tweet-media {
    display: flex;
    height: 280px;
    img {
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.📌 {
  height: 276px;
  padding: 30px;
  color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 14, 23, 0.04);
  background-color: #04087f;
  background-repeat: no-repeat;
  background-position: 85% 101%;
  background-image: url('../img/icons/idea.svg');
  figcaption {
    h1 {
      font-family: $font-bold;
      font-size: 24px;
    }
    p {
      width: 194px;
      margin: 10px 0 25px;
      font-family: $font-regular;
      font-size: $ftz-normal;
      line-height: 1.3;
    }
  }
}
