<!-- Footer -->
<footer class="footer">
  <div class="container">
    <nav>
      <p class="copyright">© Copyright 2019 hashtagvisiblewomen.com. All Right Reserved.</p>
      <ul class="footer-links-list">
        <li><a href="home.html" title="Home">Home</a></li>
        <li><a href="about.html" title="About Us">About Us</a></li>
        <li><a href="blog.html" title="Blog">Blog</a></li>
        <li><a href="contact.html" title="Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>
<!-- /Footer -->