<!-- Header -->
<header class="header">
  <div class="container">
    <nav>
      <a href="/home.html" title="#VisibleWomen">
        <img class="logo" src="./img/logo.svg" alt="#VisibleWomen - Logo">
      </a>
      <ul class="header-links-list">
        <li><a class="blog active" href="blog.html" title="Blog">Blog</a></li>
        <li><a class="subscribe" href="#" title="Subscribe">Subscribe</a></li>
        <li><button class="filled" type="button">Be Visible</button></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /Header -->