/*!   === Footer ===   */

.footer {
  margin-top: 40px;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    font-family: $font-semibold;
    font-size: $ftz-normal;
    border-top: 1px solid $grey;
    .copyright {
      color: $grey;

    }
    .footer-links-list {
      display: flex;
      padding: 0;
      list-style: none;
      li {
        margin-left: 35px;
        a {
          color: $black;
        }
      }
    }
  }
}
