<!-- Dialog Be Visible -->
<section class="be-visible" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc">
  <a href="/home.html" title="#VisibleWomen">
    <img class="logo" src="./img/logo.svg" alt="#VisibleWomen - Logo">
  </a>
  <div class="text">
    <h1 id="dialog-title">Want to appear in results?</h1>
    <h1 id="dialog-desc">Submit your tweet.</h1>
  </div>
  <form id="be-visible">
    <div class="input-group">
      <input class="input" name="role" type="text" placeholder="What’s your role?">
    </div>
    <div class="input-group">
      <input class="input" name="tweet-url" type="text" placeholder="Paste URL for your tweet">
      <button class="input-submit-btn" type="submit"></button>
    </div>
  </form>
  <button class="dialog-close-btn"></button>
</section>
<!-- /Dialog Be Visible -->