<!-- Dialog Intro -->
<section class="intro" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc">
  <a href="/home.html" title="#VisibleWomen">
    <img class="logo" src="./img/logo.svg" alt="#VisibleWomen - Logo">
  </a>
  <div class="text">
    <h1 id="dialog-title">What type of artist are you</h1>
    <h1 id="dialog-desc">looking for?</h1>
  </div>
  <form id="intro">
    <div class="input-group">
      <input class="input" name="role" type="text" placeholder="Character Designer...">
      <button class="input-submit-btn" type="submit"></button>
    </div>
  </form>
</section>
<!-- /Dialog Intro -->