<!-- Dialog Subscribe -->
<section class="subscribe" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc">
  <a href="/home.html" title="#VisibleWomen">
    <img class="logo" src="./img/logo.svg" alt="#VisibleWomen - Logo">
  </a>
  <div class="text">
    <h1 id="dialog-title">Want to get updated?</h1>
    <h1 id="dialog-desc">Join our email list.</h1>
  </div>
  <form id="subscribe">
    <div class="input-group">
      <input class="input" name="email" type="email" placeholder="What’s your e-mail?">
      <button class="input-submit-btn" type="submit"></button>
    </div>
  </form>
  <button class="dialog-close-btn"></button>
</section>
<!-- /Dialog Subscribe -->