{% extends "layout.html" %}

{% set page = 'About' %}


{% block content %}
<!-- About -->
<section class="about">
  <div class="container">
    <h1>About</h1>
    <section class="about-content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti amet reiciendis hic sunt facere ratione fuga commodi fugit. Sunt, praesentium eligendi assumenda nemo dolorum debitis facere unde ad exercitationem amet!
      </p>
      <p>
        Yayoi Kusama was born in 1929 in Matsumoto, Nagano, Japan. At an early age she experienced hallucinations which included seeing lights and dots. In addition Yayoi believed she saw talking flowers and patterns of stones from the nearby river which would come to life in her waking dreams. It
        was such imagery that stirred the imagination of the young artist, who soon began to draw artistic inspiration from her own visions.
      </p>
      <p>
        Yayoi’s home life was rather chaotic. Her parents could be abusive, and her father was often absent due to extra marital affairs. The artist was sent to work during the second world war, working in a factory sewing parachutes at the age of thirteen. It was a dark period of history for
        Japan which culminated in the atom bombings of Nagasaki and Hiroshima.
      </p>
      <p>
        After the war Yayoi began to study painting, however she rejected the popular styles of her homeland in favour of a more avant-garde European approach. By 1950 the artist was creating and exhibiting abstract works often incorporating dotted imagery from her hallucinations. Yayoi soon
        became disenchanted with the Japanese art scene however and moved to New York hoping for a greater appreciation of her work. Here she befriended fellow artists Georgia O’Keeffe and Eva Hesse.
      </p>
      <p>
        By the 1960s, Yayoi was producing work at a fast pace, including her Infinity room installations. Among the daring and often naked impromptu performances or ‘happenings’, she presided over during this era was one entitled ‘Homosexual Wedding’.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, magni similique possimus, officia, iure ipsam at officiis optio earum inventore voluptate sit quam fugiat nulla sed pariatur ullam molestias asperiores.
        Deleniti culpa non neque quaerat, soluta odit, similique praesentium molestias minima veniam aperiam rerum dignissimos, numquam vel quia distinctio? Iusto, libero? Alias nostrum dolore quis quo eveniet itaque veritatis quos!
        Maiores repudiandae, asperiores autem maxime culpa iure nam mollitia nobis illum sequi quibusdam eos, animi deserunt pariatur perspiciatis? Necessitatibus, dolore. Ea eum dicta ad sit sequi! Expedita nisi voluptatibus ipsa.
        Iste repudiandae illo eos ullam necessitatibus maiores, debitis reprehenderit, ipsam neque aliquam perferendis. Quod vel autem velit fugiat, perferendis ipsa, architecto, nemo numquam iusto laborum modi neque fugit eaque labore!
        Esse pariatur magnam porro velit rem magni vitae ipsam, fuga suscipit ipsa quidem nisi excepturi alias maxime quae sunt sit optio. Perferendis similique, assumenda cum mollitia ratione corrupti sed consequatur.
        Molestiae laborum eius blanditiis aspernatur! Totam aperiam soluta unde, omnis commodi cupiditate officiis vero nisi! Voluptatum aperiam eum quo consectetur libero amet repudiandae excepturi, aliquam, perferendis cumque mollitia quasi soluta.
        Ex explicabo consequuntur, a quisquam vero molestias pariatur velit illo dolores cumque at voluptatum veritatis. Enim, architecto modi ex aperiam nisi autem numquam ab ut, nesciunt voluptate quas, deserunt asperiores?
        Nihil iure dicta ullam obcaecati odio libero, molestias veniam, blanditiis voluptatibus ab, numquam deserunt quasi rem natus quisquam voluptates aliquid amet consequuntur veritatis impedit nesciunt necessitatibus earum. Inventore, excepturi saepe.
        Dolor, aperiam. Voluptatem doloremque tempora doloribus, ut necessitatibus quibusdam voluptatibus dolor facilis dolorem quaerat est et, quia ducimus eveniet magnam labore assumenda ab, maiores obcaecati! Nemo placeat cupiditate voluptatibus debitis.
        Praesentium qui laborum quod corrupti sint minima! Reprehenderit, provident commodi dolor minus, modi sunt totam, porro in cumque blanditiis maxime nobis? Ipsa ipsam ad voluptatum, vel aspernatur excepturi. Dignissimos, quo.
        Odio dolor harum voluptas nam quia facere minus, necessitatibus commodi eos assumenda explicabo qui nostrum doloribus deserunt libero fuga nihil illum dolorum quos veritatis sapiente laudantium dignissimos incidunt numquam. Aut.
        Magni nemo deleniti temporibus rem veritatis obcaecati hic corporis minima illo, blanditiis, expedita pariatur natus iste! Quaerat, animi fugit voluptates sit asperiores tempora ipsum. Ullam eius numquam maiores dolorem quis.
        Fuga dignissimos eveniet, beatae rerum explicabo quia quis molestiae facere, quasi velit delectus repellendus eum inventore corrupti aspernatur, sequi accusamus perferendis optio temporibus doloremque enim sint. Natus consequuntur laboriosam accusantium!
        In, aliquam doloremque earum ipsum, accusantium itaque laudantium velit, cupiditate ipsam enim sunt? Velit veniam eos eum commodi accusamus nisi cumque repellat repudiandae dolores deleniti possimus labore, culpa consequatur! Unde.
        Corporis, magni quasi? Sequi veniam dolorem, voluptates aliquam architecto non quisquam molestiae quam assumenda quidem nulla debitis quibusdam rerum impedit tempore eligendi. Porro tenetur fuga, eligendi velit sit excepturi aspernatur?
      </p>
      <p>
        After a period of ill health Yayoi returned to her homeland in the early 1970s. Here she would undertake various activities from art dealership to writing and poetry. However, suffering from exhaustion, the artist soon entered a hospital for those suffering from mental illness.
        Nevertheless, Yayoi continued to produce artworks, her style changing to a more colourful approach. By the 1990s the artist began to exhibit her famous pumpkins which she viewed as embodying something of herself, akin to symbolic self-portraits. She continues to work well into her
        nineties.
      </p>
      <p>
        In her later years Yayoi’s work has continued to achieve huge critical acclaim while also engaging and delighting huge audiences. Having worked in performance, film, poetry, installation, painting, sculpture, fashion and numerous other genres, it is true to say that Yayoi Kusama is a truly
        multitalented multimedia artist.
      </p>
      <p>
        In her own words…..
      </p>
      <p>
        ‘I, Kusama, am the modern Alice in Wonderland.’
      </p>
    </section>
  </div>
</section>
<!-- /About -->
{% endblock content %}