{% extends "layout.html" %}

{% set page = 'Index' %}

{% block content %}
<!-- Index -->
<section class="index">
  <div class="container">
    <section class="inputs">
      <input id="role" name="role" type="text" placeholder="Add more roles">
      <label for="country">Sort by country</label>
      <input id="country" name="country" type="text" placeholder="Add country">
    </section>
    <section class="tags-and-pin">
      <div class="tags">
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
      </div>
      <div class="pin">
        <span class="pin-icon"></span>
        <p>You have no pinned items</p>
      </div>
    </section>
  </div>
</section>
<!-- /Index -->
<!-- /Index -->
{% endblock content %}