{% extends "layout.html" %}

{% set page = 'Index' %}

{% set tweets = [
  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/340/270'
  },
  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sit minus animi praesentium vitae reprehenderit molestias porro dolore aspernatur explicabo quam molestiae a ut id, quo maiores illo. Esse, reiciendis.
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/370/270'
  },
  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/370/470'
  }
  ,  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, porro. Odio quia magnam doloremque! Ab voluptas inventore eaque laborum iusto eos dolores rem magni iste, ullam quibusdam! Quo necessitatibus cupiditate eligendi fugiat id! A quas voluptatem autem, necessitatibus dolor, ipsam placeat at ducimus, sequi tempore explicabo consequatur laudantium eum delectus. Voluptatem voluptatibus quas earum veritatis doloribus vero tempora praesentium, vitae, inventore sed consectetur soluta sint unde aliquam provident totam adipisci eum minima? Cupiditate impedit ipsa pariatur aliquid.
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/570/470'
  },
  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sit minus animi praesentium vitae reprehenderit molestias porro dolore aspernatur explicabo quam molestiae a ut id, quo maiores illo. Esse, reiciendis.
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/570/370'
  },
  {
    avatar: 'https://picsum.photos/200/200',
    title: 'umaimah',
    username: '@ColouredBraids',
    text: 'Hi <a>#visiblewomen</a> 💖
    Lorem ipsum dolor sit amet.
    I’m Umayma. I’m Nigerian & I love character designing , sapphic themes and using pink.
    🌸Portfolio- <a href="https://umaymad.weebly.com">https://umaymad.weebly.com</a>',
    link: 'https://umaymad.weebly.com',
    img: 'https://picsum.photos/520/370'
  }
] %}

{% block content %}
<!-- Index -->
<section class="index">
  <div class="container">
    <section class="inputs">
      <input id="role" name="role" type="text" placeholder="Add more roles">
      <label for="country">Sort by country</label>
      <input id="country" name="country" type="text" placeholder="Add country">
    </section>
    <section class="tags-and-pin">
      <div class="tags">
        <div class="tag">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
        <div class="tag country">
          <span class="text">Character Designer</span>
          <span class="clear-icon"></span>
        </div>
      </div>
      <div class="pin">
        <span class="pin-icon"></span>
        <a href="pinned-items.html" title="Pinned Items">You have no pinned items</a>
      </div>
    </section>
    <section class="twitter-cards">
      {% for tweet in tweets %}
      <figure class="tweet">
        <div class="tweet-header">
          <div class="user-info">
            <img class="avatar" src="{{ tweet.avatar }}" alt="{{ tweet.title }}">
            <div class="title-username">
              <div class="title">{{ tweet.title }}</div>
              <div class="username">{{ tweet.username }}</div>
            </div>
          </div>
          <div class="tweet-actions">
            <span class="pin {% if loop.index == 1 %}active{% endif %}"></span>
            <span class="twitter"></span>
          </div>
        </div>
        <div class="tweet-text">{{ tweet.text|safe }}</div>
        <div class="tweet-media">
          <img src="{{ tweet.img }}" alt="">
        </div>
      </figure>
      {% endfor %}
      <figure class="tweet 📌">
        <figcaption>
          <h1>Hey, we have an idea!</h1>
          <p>If you want to have a productive search, you can pin the attractive cards and check the pinned items after browsing.</p>
        </figcaption>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
          <path fill="#C0CCDA"
            d="M20.875 0c-.466 0-.896.25-1.128.654h-.002l-5.706 8.338 6.971 6.971 8.384-5.736.003-.002a1.304 1.304 0 00.216-2.027L21.828.415 21.822.41a1.304 1.304 0 00-.947-.41zM7.983 10.428a7.552 7.552 0 00-5.357 2.218l6.441 6.444-8.666 8.666a1.304 1.304 0 101.843 1.843l8.666-8.666 6.444 6.441a7.574 7.574 0 000-10.71l-4.017-4.018a7.546 7.546 0 00-5.354-2.218z" />
        </svg>
      </figure>
      {% for tweet in tweets %}
      <figure class="tweet">
        <div class="tweet-header">
          <div class="user-info">
            <img class="avatar" src="{{ tweet.avatar }}" alt="{{ tweet.title }}">
            <div class="title-username">
              <div class="title">{{ tweet.title }}</div>
              <div class="username">{{ tweet.username }}</div>
            </div>
          </div>
          <div class="tweet-actions">
            <span class="pin {% if loop.index == 1 %}active{% endif %}"></span>
            <span class="twitter"></span>
          </div>
        </div>
        <div class="tweet-text">{{ tweet.text|safe }}</div>
        <div class="tweet-media">
          <img src="{{ tweet.img }}" alt="">
        </div>
      </figure>
      {% endfor %}
    </section>
    <h3 class="final-result">Hey! You have reached the end of results.</h3>
  </div>
</section>
<!-- /Index -->
{% endblock content %}