@import 'helpers/helpers';

@include placeholder {
  color: $grey;
}

@include selection {
  color: $white;
  background-color: $purple;
}

/*!   === Main CSS ===   */
body {
  background-color: #fdfdfd;
  @media (max-width: $breakpoint-lg) {
    position: relative;
  }
}

@-webkit-keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;

    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@import 'partials/partials';
@import 'pages/pages';
@import 'components/components';
@import 'lib/libs';
