@import 'helpers/helpers';

@include placeholder {
  color: $grey;
}

@include selection {
  color: $white;
  background-color: $purple;
}

/*!   === Main CSS ===   */
body {
  background-color: #fdfdfd;
  @media (max-width: $breakpoint-lg) {
    position: relative;
  }
}
@import 'partials/partials';
@import 'pages/pages';
@import 'components/components';
@import 'lib/libs';

