/*!   === Pinned Items ===   */

.pinned-items {
  margin-top: 70px;
  .position-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 35px;
    h1 {
      color: $grey;
      font-family: $font-semibold;
      font-size: $ftz-biggest;
      span {
        color: $blue;
        font-family: $font-bold;
      }
    }
    a {
      display: flex;
      align-items: center;
      color: $black-4;
      font-family: $font-medium;
      font-size: $ftz-large;
      text-decoration: underline;
      &::before {
        content: '';
        display: inline-block;
        width: 23px;
        height: 22px;
        margin-right: 10px;
        @include send-mail;
      }
    }
  }
}
