/*!   === Pinned Items ===   */

.pinned-items {
  margin-top: 70px;
  .position-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 35px;
    h1 {
      color: #c0ccda;
      font-family: $font-semibold;
      font-size: 30px;
      span {
        color: #04087f;
        font-family: $font-bold;
      }
    }
    a {
      display: flex;
      align-items: center;
      color: #242424;
      font-family: $font-medium;
      font-size: $ftz-large;
      text-decoration: underline;
      &::before {
        content: '';
        display: inline-block;
        width: 23px;
        height: 22px;
        margin-right: 10px;
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 22'%3E%3Cpath fill='%2304087F' d='M2.55555556,2.38388953e-17 C2.24834718,-0.00431562962 1.96259736,0.156009866 1.80772527,0.419584719 C1.65285319,0.683159572 1.65285319,1.00914812 1.80772527,1.27272297 C1.96259736,1.53629783 2.24834718,1.69662332 2.55555556,1.69230769 L17.8888889,1.69230769 C18.1960973,1.69662332 18.4818471,1.53629783 18.6367192,1.27272297 C18.7915913,1.00914812 18.7915913,0.683159572 18.6367192,0.419584719 C18.4818471,0.156009866 18.1960973,-0.00431562962 17.8888889,2.38388953e-17 L2.55555556,2.38388953e-17 Z M1.32769101,3.38461538 L9.18569144,10.5901442 C9.76665441,11.1232212 10.67779,11.1232212 11.258753,10.5901442 L19.1167533,3.38461538 L1.32769101,3.38461538 Z M0,4.47040262 L0,15.7265629 L5.89308453,9.87454938 L0,4.47040262 Z M20.4444444,4.47040262 L16.0104891,8.53756031 C16.3478224,8.49271415 16.6877778,8.46153846 17.037037,8.46153846 C18.2628519,8.46153846 19.4171111,8.75453277 20.4444444,9.26307123 L20.4444444,4.47040262 Z M17.037037,10.1538462 C13.7437778,10.1538462 11.0740741,12.8056923 11.0740741,16.0769231 C11.0740741,19.3481538 13.7437778,22 17.037037,22 C20.3302963,22 23,19.3481538 23,16.0769231 C23,12.8056923 20.3302963,10.1538462 17.037037,10.1538462 Z M7.14590578,11.0214847 L1.20457176,16.9230769 L9.42028378,16.9230769 C9.38876526,16.6446923 9.37037037,16.3629231 9.37037037,16.0769231 C9.37037037,14.8533846 9.66773311,13.7004738 10.1839553,12.6757815 C9.4079183,12.6673199 8.63418381,12.3880096 8.029369,11.8329327 L7.14590578,11.0214847 Z M17.037037,12.6923077 L20.4444444,16.0769231 L17.037037,19.4615385 L17.037037,16.9230769 L14.4814815,16.9230769 C14.0112593,16.9230769 13.6296296,16.5448462 13.6296296,16.0769231 C13.6296296,15.609 14.0112593,15.2307692 14.4814815,15.2307692 L17.037037,15.2307692 L17.037037,12.6923077 Z'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
